@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

body{
    background-color: black;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60vh;
    font-weight: 1000;
    text-align: center;
}